/*resetea valores predeterminados del modelo de caja */
* {
    box-sizing: border-box; /*calculo automatico de la caja*/
    padding: 0;
    margin: 0;
}
main{
    width: 100%;
    height: 500px;
    border: 10px solid grey;
    padding: 20px 35px;
}